@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font: Roboto;
}

.popup-container {
  padding: 0 8px;
  min-width: min-content;
}

.heading-container {
  display: flex;
  gap: 10px;
  white-space: nowrap;
  margin-bottom: 1em;
}

.heading-container img {
  object-fit: scale-down;
}

.form-group {
  white-space: nowrap;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0.5em 1em;
}

.shortcut-picker-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
