@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font: Roboto;
}

.heading {
  white-space: nowrap;
}

.popup-container {
  padding: 0 8px;
  min-width: min-content;
  min-width: 280px;
  min-height: 160px;
}

.formgroup {
  white-space: nowrap;
}
